body{
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text{
   color:grey;
   font-size: 18px;
   text-align: center;
   margin-top: 5px;
}
.hero{
   display: flex;
   flex-direction: column;
   padding: 16px 250px;
   background-color: #1f2937;
   color: #e5e7eb;
}
.header{
   display: flex  ;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 100px;

}
.hero-main-text{
   color: #f9faf8;
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 10px;
}
.hero-sub-text{
   margin-bottom: 10px;
   font-size: 18px;
}
ul{
   padding: 0;
   margin: 0;
}
.right-links{
   display: flex;
   gap: 20px;
   list-style: none;
   color: #e5e7eb;
   font-size: 18px;
}
.signup{
   background-color: #3882f6;
   color: #f9faf8;
   border: none;
   border-radius: 10px;
   padding: 8px 28px;
   font-weight: bold;
}
.left-part{
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   background-color: darkgrey;
   min-width: 300px;
   max-height: 250px;
}
.right-part{
   width: 400px;
}
.placeholder-img{
   display: flex;
}
.hero-main{
   display: flex;
   gap: 48px;
   margin-bottom: 100px;
}
.info{
   margin-top: 50px;
}
.box{
   width: 150px;
}
.info-head{
   font-size: 32px;
   color: #1f2937;
   font-weight: 900;
   text-align: center;
}
.box-img{
   border: 4px solid #3882f6;
   height: 150px;
   width: 150px;
   border-radius: 10px;
   box-sizing: border-box;
}
.info-boxes{
   display: flex;
   justify-content: center;
   gap: 50px;
   margin-top: 50px;
}