body{
   margin: 0;
   padding: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero{
   display: flex;
   flex-direction: column;
   padding: 16px 250px;
   background-color: #1f2937;
   color: #e5e7eb;
}
.header{
   display: flex  ;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 100px;

}
.hero-main-text{
   color: #f9faf8;
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 10px;
}
.hero-sub-text{
   margin-bottom: 10px;
   font-size: 18px;
}
ul{
   padding: 0;
   margin: 0;
}
.right-links{
   display: flex;
   gap: 20px;
   list-style: none;
   color: #e5e7eb;
   font-size: 18px;
}
.signup{
   background-color: #3882f6;
   color: #f9faf8;
   border: none;
   border-radius: 10px;
   padding: 8px 28px;
   font-weight: bold;
}
.right-part{
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   background-color: darkgrey;
   min-width: 300px;
   max-height: 250px;
}
.left-part{
   width: 500px;
}
.placeholder-img{
   display: flex;
}
.hero-main{
   display: flex;
   gap: 48px;
   margin-bottom: 100px;
}
.info{
   margin-top: 50px;
   margin-bottom: 100px;
}
.box{
   width: 150px;
}
.info-head{
   font-size: 32px;
   color: #1f2937;
   font-weight: 900;
   text-align: center;
}
.box-img{
   border: 4px solid #3882f6;
   height: 150px;
   width: 150px;
   border-radius: 10px;
   box-sizing: border-box;
}
.info-boxes{
   display: flex;
   justify-content: center;
   gap: 50px;
   margin-top: 50px;
   flex-wrap: wrap;
}
.quote-box{
   background-color: #e5e7eb;
   display: flex;
   justify-content: center;
}
.quote-content{
   height: 500px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   max-width: 750px;
}
.quote{
   color: #1f2937;
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
}
.writer{
   max-width: 750px;
   text-align: end;
   font-weight: bold;
   font-size: 18px;
}
.call-to-action{
   display: flex;
   justify-content: center;
   height: 300px;
   align-items: center;
}
.cta-container{
   background-color: #3882f6;
   display: flex;
   /* margin: 100px 250px; */
   max-width: 900px;
   border-radius: 10px;
   height: 150px;
   justify-content: space-around;
   align-items: center;
   flex: 1;
}
.cta-head{
   color: #f9faf8;
   font-size: 24px;
   font-weight: bold;
}
.cta-content{
   color: #e5e7eb;
}
.cta-signup{
   color: #e5e7eb;
   font-size: 20px;
   padding: 5px 30px;
   background-color: #3882f6;
   border: 4px solid #f9faf8;
   font-weight: 500;
   border-radius: 10px;
}
