body {
   margin: 0;
   padding: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text {
   color: grey;
   font-size: 18px;
   text-align: center;
   margin-top: 5px;
}

.hero {
   display: flex;
   flex-direction: column;
   background-color: #1f2937;
   color: #e5e7eb;
   align-items: center;
   padding: 0px 20px;
}

.hero-content {
   max-width: 900px;
   flex: 1;
   width: 100%;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 100px;
   height: 50px;
}

.hero-main-text {
   color: #f9faf8;
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 10px;
}

.hero-sub-text {
   margin-bottom: 10px;
   font-size: 18px;
}

ul {
   padding: 0;
   margin: 0;
}

.right-links {
   display: flex;
   gap: 20px;
   list-style: none;
   color: #e5e7eb;
   font-size: 18px;
}

.signup {
   background-color: #3882f6;
   color: #f9faf8;
   border: none;
   border-radius: 10px;
   padding: 8px 28px;
   font-weight: bold;
   cursor: pointer;
}

.signup:hover{
   color: #3882f6;
   background-color: #f9faf8;
}

.right-part {
   display: flex;
   width: 300px;
   justify-content: center;
   align-items: center;
   flex: 1;
   border-radius: 10px;
}

.left-part {
   flex: 1;
   max-width: 500px;
}

.hero-main {
   display: flex;
   margin-bottom: 100px;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 50px;
}

.info {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
}

.box {
   width: 300px;
}

.info-head {
   font-size: 32px;
   color: #1f2937;
   font-weight: 900;
   text-align: center;
}

.box-img {
   border: 4px solid #3882f6;
   height: 300px;
   width: 300px;
   border-radius: 10px;
   box-sizing: border-box;
}

.info-boxes {
   display: flex;
   gap: 50px;
   flex-wrap: wrap;
   margin: 50px 20px;
   justify-content: center;
}

.quote-box {
   background-color: #e5e7eb;
   display: flex;
   justify-content: center;
}

.quote-content {
   min-height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   max-width: 750px;
   margin: 10px 20px;
}

.quote {
   color: #1f2937;
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
}

.writer {
   max-width: 750px;
   text-align: end;
   font-weight: bold;
   font-size: 18px;
}

.call-to-action {
   display: flex;
   justify-content: center;
   height: 300px;
   align-items: center;
}

.cta-container {
   background-color: #3882f6;
   display: flex;
   max-width: 900px;
   border-radius: 10px;
   min-height: 150px;
   justify-content: space-around;
   align-items: center;
   flex: 1;
   flex-wrap: wrap;
   margin: 50px 20px;
   padding: 20px;
   box-sizing: border-box;
   gap: 20px;
}

.cta-head {
   color: #f9faf8;
   font-size: 24px;
   font-weight: bold;
}

.cta-content {
   color: #e5e7eb;
}

.cta-signup {
   color: #f9faf8;
   padding: 8px 30px;
   background-color: #3882f6;
   border: 2px solid #f9faf8;
   font-weight: 600;
   border-radius: 10px;
   cursor: pointer;
}

.cta-signup:hover{
   background-color: #f9faf8;
   color: #3882f6;
   border: 2px solid #3882f6;
}

.footer {
   background-color: #1f2937;
   color: #f9faf8;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}
p{
   margin: 8px 0px;
}